bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Environment files
env/.env.*.user
env/.env.local
env/.env.dev

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
_storage_emulator

# Include .vscode folder (override parent .gitignore)
!.vscode/
!local.settings.json
