openapi: 3.0.1
info:
  title: Northwind Traders Inventory Management API
  version: 1.0.0
  description: API for managing inventory in the Northwind Traders system
servers:
  - url: https://hhgr1djn-7071.aue.devtunnels.ms/api/
paths:
  /products/{*id}:
    get:
      summary: Get product information by productId or productName
      description: Returns detailed information about a product identified by productId or productName.
      parameters:
        - name: id
          in: path
          description: ID or name of the product to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '404':
          description: Product not found
        '500':
          description: Internal server error
  /products/:
    get:
      summary: Get a list of products matching the specified criteria
      description: Returns a list of products optionally filtered by providing 
      parameters:
        - name: productName
          in: query
          description: Name of the product to retrieve
          required: false
          schema:
            type: string
        - name: categoryName
          in: query
          description: The category name to filter by like Beverages, Condiments, Confections, Dairy Products, Grains/Cereals, Meat/Poultry, Produce, Seafood
          required: false
          schema:
            type: string
        - name: supplierName
          in: query
          description: The name of the supplier of the product name to filter by like Exotic Liquids, New Orleans Cajun Delights, Grandma Kelly's Homestead, Tokyo Traders, Cooperativa de Quesos 'Las Cabras', Mayumi's, Pavlova, Gai Pâturage. Omit if not explicitly requested.
          required: false
          schema:
            type: string
        - name: supplierCity
          in: query
          description: The city of the supplier is to filter by e.g Seattle, Tacoma, Kirkland, London, New York, San Francisco, Los Angeles, New Orleans, Anchorage. Omit if not explicitly requested.
          required: false
          schema:
            type: string
        - name: inventoryStatus
          in: query
          description: The inventory status of the product e.g status indicating Out, low, On order. Omit if not explicitly requested.
          required: false
          schema:
            type: string
        - name: inventoryRange
          in: query
          description: The range of inventory to filter by e.g 0-10, 11-20, 21-30. Omit if not explicitly requested.
          required: false
          schema:
            type: string
        - name: discontinued
          in: query
          description: Indicates if the product is discontinued,default is false
          required: false
          schema:
            type: boolean
        - name: revenueRange
          in: query
          description: The range of revenue to filter by e.g 0-1000, 1001-2000, 2001-3000. Omit if not explicitly requested.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '404':
          description: Product not found
        '500':
          description: Internal server error
components:
  schemas:
    Product:
      type: object
      properties:
        productId:
          type: integer
          description: The unique identifier for the product.
        productName:
          type: string
          description: The name of the product.
        supplierId:
          type: integer
          description: The unique identifier for the supplier.
        categoryId:
          type: integer
          description: The unique identifier for the category.
        quantityPerUnit:
          type: string
          description: The quantity per unit.
        unitPrice:
          type: number
          format: double
          description: The unit price of the product.
        unitsInStock:
          type: integer
          description: The quantity of units in stock.
        unitsOnOrder:
          type: integer
          description: The quantity of units on order.
        reorderLevel:
          type: integer
          description: The reorder level.
        discontinued:
          type: boolean
          description: Indicates if the product is discontinued.
        imageUrl:
          type: string
          format: uri
          description: The URL of the product image.
        supplierName:
          type: string
          description: The name of the supplier.
        supplierCity:
          type: string
          description: The city where the supplier is located.
        categoryName:
          type: string
          description: The name of the category.
        inventoryStatus:
          type: string
          description: The inventory status of the product.
        valueOfInventory:
          type: number
          format: double
          description: The value of the inventory.
        unitSales:
          type: integer
          description: The number of unit sales.
        revenue:
          type: number
          format: double
          description: The revenue generated by the product.
        averageDiscount:
          type: number
          format: double
          description: The average discount applied to the product.

