openapi: 3.0.1
info:
  title: Northwind Traders Inventory Management API
  version: 1.0.0
  description: API for managing inventory in the Northwind Traders system
servers:
  - url: https://hhgr1djn-7071.aue.devtunnels.ms/api/
paths:
  /products/{*id}:
    get:
      summary: Get product information by productId or productName
      description: Returns detailed information about a product identified by productId or productName.
      parameters:
        - name: id
          in: path
          description: ID or name of the product to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '404':
          description: Product not found
        '500':
          description: Internal server error
components:
  schemas:
    Product:
      type: object
      properties:
        productId:
          type: integer
          description: The unique identifier for the product.
        productName:
          type: string
          description: The name of the product.
        supplierId:
          type: integer
          description: The unique identifier for the supplier.
        categoryId:
          type: integer
          description: The unique identifier for the category.
        quantityPerUnit:
          type: string
          description: The quantity per unit.
        unitPrice:
          type: number
          format: double
          description: The unit price of the product.
        unitsInStock:
          type: integer
          description: The quantity of units in stock.
        unitsOnOrder:
          type: integer
          description: The quantity of units on order.
        reorderLevel:
          type: integer
          description: The reorder level.
        discontinued:
          type: boolean
          description: Indicates if the product is discontinued.
        imageUrl:
          type: string
          format: uri
          description: The URL of the product image.
        supplierName:
          type: string
          description: The name of the supplier.
        supplierCity:
          type: string
          description: The city where the supplier is located.
        categoryName:
          type: string
          description: The name of the category.
        inventoryStatus:
          type: string
          description: The inventory status of the product.
        valueOfInventory:
          type: number
          format: double
          description: The value of the inventory.
        unitSales:
          type: integer
          description: The number of unit sales.
        revenue:
          type: number
          format: double
          description: The revenue generated by the product.
        averageDiscount:
          type: number
          format: double
          description: The average discount applied to the product.

