# This file includes environment variables that can be committed to git. It's gitignored by default because it represents your local development environment.

# Built-in environment variables
APP_DISPLAY_NAME=Insurance Agent
APP_INTERNAL_NAME=insurance-agent
TEAMSFX_ENV=local
APP_NAME_SUFFIX=local

# AI Models Configuration
MODELS_ENDPOINT=REPLACE_WITH_AI_FOUNDRY_ENDPOINT_URL

# Main language model gpt-4.1 for general language understanding
LANGUAGE_MODEL_NAME=gpt-4.1

# Generated during provision
BOT_SERVICE_PRINCIPAL_ID=_

